@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Bitter|Passion+One|Roboto|Taprom" rel="stylesheet">
<link href="/css/shopping.css" rel="stylesheet">



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<style>
    recipe-card-title {
        display: inline-block;
        position: relative;
        margin-bottom: 0;
        max-width: 100%;
        /* border-bottom: 2px solid #E04D3E; */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }

    .recipe-card-title:hover.recipe-card-title::before {
        animation: title-shadow 0.3s linear;
    }

    .recipe-card-title::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5%;
        height: 2px;
        width: 90%;
        background-color: #E04D3E;
    }

    @@keyframes title-shadow {
        0% {
            width: 0%;
        }

        100% {
            width: 90%;
        }
    }
</style>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true,
            content: function () {
                return $('#popover-content').html();

            }



        });
    });
</script>

<!--<script>
    $(".pop").popover({ trigger: "manual", html: true, animation: false })
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide");
                }
            }, 300);
        });
</script>-->
<!--nav-bar-->
<nav class="navbar navbar fixed-top  navbar-expand-lg navbar-light bg-light">
    <div class="container align-items-center">

        <a class="navbar-brand" href="/Home/index"> <span class="font-weight-bold Logo-icon"><i class="fas fa-shopping-basket"></i>Bootatle</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="nav-item nav-link active w-100 mg-2" href="#">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search what you want">
                    <div class="input-group-append">
                        <button class="btn btn-warning " style="border-radius:0;" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="navbar-nav w-50">
                <i class="fas fa-shopping-cart cart-circle mr-2"></i>
                <button type="button" class="btn btn-outline-dark mr-1 btn-sm btn-radius" data-toggle="modal" data-target="#exampleModal" style="font-family: Microsoft JhengHei;"><i class="fas fa-user">登入</i></button>
                <button type="button" class="btn btn-danger btn-sm btn-radius" style="font-family: Microsoft JhengHei;" onclick="location.href='/Valid/UsRegistered'">註冊帳號</button>
            </div>
        </div>
    </div>
</nav>
<div class="rounded-circle cart-bottom" style="font-size:40px">
    <i class="fas fa-shopping-cart text-center"></i>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header shadow">
                <div class="container justify-content-center">
                    <div class="row">
                        <div class="col">
                            <h5 class="modal-title text-center" style="font-family: 'Passion One', cursive; font-size:28px;" id="exampleModalLabel">Login</h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

            </div>


            <div class="modal-body alert-link py-4 modal-bg">
                <div class="container-fluid py-4">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-bg"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text input-bg"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-8">
                            <button type="button" class="btn btn-danger btn-block btn-radius" data-dismiss="modal" data-toggle="popover" data-trigger="click" data-content="Some content">登入</button>
                        </div>
                    </div>
                    <div class="row justify-content-around pt-2">
                        <div class="col text-center font">
                            或<a href="">忘記帳號/密碼</a>
                        </div>
                    </div>
                    <div class="row justify-content-around py-2">
                        <div class="col  font text-center">
                            還沒有帳戶嗎?<a href="/Valid/UsRegistered">註冊</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!--廣告大頻幕star-->
<div class="jumbotron jumbotron-fluid mb-0 jmbg">
    <div class="container">
        <div class="text-white">
            <h1 class="display-4 ">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-danger btn-lg " href="#" role="button" style="font-family: 'Passion One', cursive;">
                <i class="fas fa-caret-right"></i><span class="ml-2">GO Shopping!!</span>
            </a>
        </div>
    </div>
</div>

<div class=" container-fluid py-4 jumb-nav">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="media">
                    <i class="align-self-center fas fa-fish display-4 mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        100,000 online courses
                        Explore a variety of fresh topics
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="media">
                    <i class="align-self-center fas fa-carrot display-4 mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        100,000 online courses
                        Explore a variety of fresh topics
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="media">
                    <i class="align-self-center fas fa-drumstick-bite display-4 mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        100,000 online courses
                        Explore a variety of fresh topics
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="media">
                    <i class="align-self-center fas fa-wine-bottle display-4 mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        100,000 online courses
                        Explore a variety of fresh topics
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--廣告大頻幕End-->


<!--分類選單-->
<div class="container mt-5">
    <div class="row">
        <div class="col px-1">
            <div class="card border-0 py-2  cdfish">
                <div class="card-body cd-text">
                    <h4 class="card-title recipe-card-title">Special title treatment</h4>
                </div>
            </div>
        </div>
        <div class="col px-1">
            <div class="card border-0 py-2 cdsteak">
                <div class="card-body cd-text">
                    <h4 class="card-title">Special title treatment</h4>


                </div>
            </div>
        </div>
        <div class="col px-1 ">
            <div class="card border-0 py-2 cdfruit">
                <div class="card-body cd-text ">
                    <h4 class="card-title">Special title treatment</h4>

                </div>
            </div>
        </div>
    </div>
</div>

<!--熱門商品標題-->
<div class="container pt-5 pb-3">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="font">熱門商品</h1>
        </div>
        <div class="col text-right">
            <a href=""><span class="font">查看全部</span><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</div>


<!--商品列表-->
<div class="container">
    <div class="row">
        <div class="col-12 px-0">
            <div id="carouselExampleInterval" class="carousel slide" data-interval="false">
                <div class="carousel-inner card-border">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="card-group px-0">
                                <div class="card text-center col border-1" id="pop-card" data-toggle="popover" data-html="true" data-placement="right">
                                    <div class="mb-3"></div>
                                    <img src="/images/p4.jpg" class="card-img-top w-75 mx-auto my-auto">
                                    <div class="card-body ">
                                        <p class="card-text">
                                            <span class="font-gary mr-1">
                                                原價NT$200
                                            </span>
                                            <span class="font-danger">NT$150</span>
                                        </p>
                                        <a href="#" style="font-size:12pt;"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>


                                <div class="card text-center col">
                                    <div class="mb-3"></div>
                                    <img src="/images/p1.jpg" class="card-img-top w-75 mx-auto my-auto">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="font-gary mr-1">
                                                原價NT$200
                                            </span>
                                            <span class="font-danger">NT$150</span>
                                        </p>
                                        <a href="#" style="font-size:12pt;"><i class="far fa-heart"></i></a>
                                        <!--  <a href="#" class="btn btn-sm btn-success" style="font-size:12pt;"><i class="fas fa-plus-circle mr-2 "></i>ADD</a>-->
                                    </div>
                                </div>


                                <div class="card text-center col">
                                    <div class="mb-3"></div>
                                    <img src="/images/p3.jpg" class="card-img-top w-75 mx-auto my-auto">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="font-gary mr-1">
                                                原價NT$200
                                            </span>
                                            <span class="font-danger">NT$150</span>
                                        </p>
                                        <a href="#" style="font-size:12pt;"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>


                                <div class="card text-center col">
                                    <div class="mb-3"></div>
                                    <img src="/images/p2.jpg" class="card-img-top w-75 mx-auto my-auto">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="font-gary mr-1">
                                                原價NT$200
                                            </span>
                                            <span class="font-danger">NT$150</span>
                                        </p>
                                        <a href="#" style="font-size:12pt;"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>


                                <div class="card text-center col border-1">
                                    <div class="mb-3"></div>
                                    <img src="/images/p5.jpg" class="card-img-top w-75 mx-auto my-auto">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="font-gary mr-1">
                                                原價NT$200
                                            </span>
                                            <span class="font-danger">NT$150</span>
                                        </p>
                                        <a href="#" class="bt" style="font-size:12pt;"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item" data-interval="false">
                        <div class="row">
                            <div class="card-group">
                                <div class="card text-center col border-1">
                                    <div class="mb-3"></div>
                                    <img src="/images/p4.jpg" class="card-img-top w-75 mx-auto my-auto">
                                    <div class="card-body ">
                                        <p class="card-text">
                                            <span class="font-gary mr-1">
                                                原價NT$200
                                            </span>
                                            <span class="font-danger">NT$150</span>
                                        </p>
                                        <a href="#" style="font-size:12pt;"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>


                                <div class="card text-center col">
                                    <div class="mb-3"></div>
                                    <img src="/images/p1.jpg" class="card-img-top w-75 mx-auto my-auto">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="font-gary mr-1">
                                                原價NT$200
                                            </span>
                                            <span class="font-danger">NT$150</span>
                                        </p>
                                        <a href="#" style="font-size:12pt;"><i class="far fa-heart"></i></a>
                                        <!--  <a href="#" class="btn btn-sm btn-success" style="font-size:12pt;"><i class="fas fa-plus-circle mr-2 "></i>ADD</a>-->
                                    </div>
                                </div>


                                <div class="card text-center col">
                                    <div class="mb-3"></div>
                                    <img src="/images/p3.jpg" class="card-img-top w-75 mx-auto my-auto">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="font-gary mr-1">
                                                原價NT$200
                                            </span>
                                            <span class="font-danger">NT$150</span>
                                        </p>
                                        <a href="#" style="font-size:12pt;"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>


                                <div class="card text-center col">
                                    <div class="mb-3"></div>
                                    <img src="/images/p2.jpg" class="card-img-top w-75 mx-auto my-auto">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="font-gary mr-1">
                                                原價NT$200
                                            </span>
                                            <span class="font-danger">NT$150</span>
                                        </p>
                                        <a href="#" style="font-size:12pt;"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>


                                <div class="card text-center col border-1">
                                    <div class="mb-3"></div>
                                    <img src="/images/p5.jpg" class="card-img-top w-75 mx-auto my-auto">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span class="font-gary mr-1">
                                                原價NT$200
                                            </span>
                                            <span class="font-danger">NT$150</span>
                                        </p>
                                        <a href="#" class="bt" style="font-size:12pt;"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <span class="carousel-control-prev" href="#carouselExampleInterval" style="width:1%;font-size:36px;" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left"></i>
                    <span class="sr-only">Previous</span>
                </span>
                <span class="carousel-control-next" href="#carouselExampleInterval" style="width:1%;font-size:36px;" role="button" data-slide="next">
                    <i class="fas fa-chevron-right"></i>
                    <span class="sr-only">Next</span>
                </span>
            </div>
        </div>
    </div>
</div>

<!--Tooltip商品列表彈出視窗-->
<div class="d-none pop" id="popover-content">
    <div class="card col border-0 text-center">
        <div class="mb-3"></div>
        <img src="/images/p5.jpg" class="card-img-top w-75 mx-auto my-auto">
        <div class="card-body px-0 border-0">
            <p class="card-text">
                <span class="font-gary mr-1">
                    原價NT$ 200
                </span>
                <span class="font-danger">NT$ 150</span>
                <ul class="text-left">
                    <li>安心楓糖來源</li>
                    <li>天下雜誌報導：最有影響力食品品牌前500大</li>
                    <li>經典美式風情</li>
                </ul>
            </p>
        </div>
        <div class="card-footer border-0  ">
            <div class="row">
                <div class="col-10">
                    <button class="btn btn-danger btn-block btn-lg rounded-0 font">新增至購物車</button>

                </div>
                <div class="col-2">
                    <a href="#" style="font-size:22pt;"><i class="far fa-heart"></i></a>
                </div>

            </div>



        </div>
    </div>
</div>



<!--標題所有品牌-->
<div class="container pt-5 pb-3">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="font">所有品牌</h1>
        </div>
        <div class="col text-right">
            <a href=""><span class="font">查看全部</span><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>

</div>

<!--品牌列表-->
<div class="container">
    <div class="row align-items-center ">
        <div class="card-group ">
            <div class="card card-hv">
                <img src="~/images/Logo-creminelli.png" class="card-img-top w-75 my-auto mx-auto d-block">
            </div>
            <div class="card card-hv">
                <img src="~/images/Logo-kelloggs2.png" class="card-img-top w-75 my-auto mx-auto d-block">
            </div>

            <div class="card card-hv">
                <img src="/images/Logo-Rio-Mare.jpg" class="card-img-top w-75 my-auto mx-auto d-block">
            </div>

            <div class="card card-hv">
                <img src="/images/Logo-MADETA-2016.png" class="card-img-top w-75 my-auto mx-auto d-block">
            </div>

            <div class="card card-hv">
                <img src="~/images/Logo-kofola.png" class="card-img-top w-75 my-auto mx-auto d-block">
            </div>

            <div class="card card-hv">
                <img src="~/images/Logo-barilla.png" class="card-img-top w-75 my-auto mx-auto d-block">
            </div>

            <div class="card card-hv">
                <img src="~/images/Logo-kirkland.png" class="card-img-top w-75 my-auto mx-auto d-block">
            </div>

            <div class="card card-hv">
                <img src="/images/crisco-logo.png" class="card-img-top w-75 my-auto mx-auto d-block">
            </div>
        </div>
    </div>
</div>
<!--商品分類card-->
<div class="container-fluid mt-5" style="background:#F4F3F1;">
    <div class="container mt-5">
        <div class="pt-5 pb-3">
            <h1 class="font">商品類別</h1>
        </div>
        <div class="container">

            <div class="row">
                <div class="col mr-2 pl-0 mb-2 pr-0 expand">
                    <div class="rounded img-gradient"></div>
                    <figure class="figure fig cdfish w-100 mb-0"></figure>
                </div>
                <div class="col mr-2 pl-0 mb-2 pr-0 expand">
                    <div class="rounded img-gradient"></div>
                    <figure class="figure fig cdbread w-100 mb-0"></figure>

                </div>
                <div class="col mr-2 pl-0 mb-2 pr-0 expand">
                    <div class="rounded img-gradient"></div>
                    <figure class="figure fig cdfruit w-100 mb-0"></figure>

                </div>
            </div>

            <div class="row">
                <div class="col mr-2 pl-0 mb-2 pr-0 expand">
                    <div class="rounded img-gradient"></div>
                    <figure class="figure fig cdvegatable w-100 mb-0"></figure>
                </div>
                <div class="col mr-2 pl-0 mb-2 pr-0 expand">
                    <div class="img-gradient"></div>
                    <figure class="figure fig cdsnack w-100 mb-0"></figure>
                </div>
                <div class="col mr-2 pl-0 mb-2 pr-0 expand">
                    <div class="rounded img-gradient"></div>
                    <figure class="figure fig cdsteak w-100 mb-0"></figure>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid py-4">
    <div class="container">
        <div class="row align-items-center" style="font-size:22px">
            <div class="col"><i class="fas fa-mobile-alt mr-2 icon-circle"></i><span class="font-weight-bold text-white">0905-592-910</span></div>
            <div class="col"><i class="far fa-envelope mr-2 icon-circle"></i><span class="font-weight-bold text-white">andy1993604@gmail.com</span></div>
            <div class="col"><i class="fas fa-shopping-basket text-white"></i><span class="font-weight-bold text-white">Bootatle</span></div>
        </div>
    </div>
    <a href="http://www.yahoo.com" style="color:yellow">連接到google</a>
</footer>









